.left-side {
  .left-img {
    position: absolute;
    width: 66vw;
    height: 100vh;
  }
}
.right-side {
  border: 1px solid rgb(242, 61, 58);
  margin-right: 0;
  height: 100vh;
  width: 34vw;
  background-color: rgb(235, 82, 52);

  .form-container {
    margin-top: 5vh;
    padding-left: 25%;
    padding-right: 20%;
    .register-img-container {
      width: 300px;
      height: 300px;
      margin-left: -5.5px;
      margin-bottom: 5vh;
      img {
        width: 350px;
        height: 300px;
      }
    }
    .col-form-label {
      width: 110px;
      color: white;
      font-size: 20px;
    }
    .form-control {
      width: 80%;
      margin-left: 20px;
      background-color: rgb(235, 92, 52);
      color: white;
    }
    .btn-danger {
      margin-top: 40px;
      margin-left: 25%;
      margin-right: 25%;
      width: 200px;
      background-color: rgb(242, 61, 58);
    }
  }
}
